html {
    font-size: 16px;
    padding: 50, 100;
    line-height: 1.5;
    font-family: Raleway, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}
h1 { font-size: 2.4em }
h2 { font-size: 2.0em }
